body{
	background-color: #F7F7F7;
	font-size: 16px;
}

.container{
	margin: 0 auto;
}

#main{
	padding-top: 30px;
}

.row{
	width: 100%;
	clear: both;
	display: flex;
	align-items: baseline;
}

.row-column{
	flex-direction: column;
}

.small-info{
	font-size: 0.7em;
	color: #E4E3E3;
	font-style: italic;
}

.space-between{
	justify-content: space-between;
}

.baseline-container{
	display: flex;
	align-items: baseline;
}

@media(min-width: 768px){
	.container{
		max-width: 750px
	}
}

@media(min-width: 992px){
	.container{
		max-width: 970px
	}
}

@media(max-width: 769px){
	.row{
		flex-direction: column;
	}
}