body{
	background-color: #F7F7F7
}

.container{
	margin: 0 auto;
}

.row{
	width: 100%;
	clear: both;
	display: flex;
}

@media(min-width: 768px){
	.container{
		max-width: 750px
	}
}

@media(min-width: 992px){
	.container{
		max-width: 970px
	}
}