body{
	background-color: #F7F7F7
}

.container{
	margin: 0 auto;
}

.row{
	width: 100%;
	clear: both;
	display: flex;
}

.row-column{
	flex-direction: column;
}

.small-info{
	font-size: 0.7em;
	color: #666;
	font-style: italic;
}

.space-between{
	justify-content: space-between;
}

@media(min-width: 768px){
	.container{
		max-width: 750px
	}
}

@media(min-width: 992px){
	.container{
		max-width: 970px
	}
}