::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E3E3E3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #E3E3E3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #E3E3E3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #E3E3E3;
}

.form-section{
	border: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.5);
	box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.5);
	border-radius: 5px;
	background-color: #FFF;
	padding: 2em 50px 1em
}

.form-section legend{
	color: #325387;
	font-size: 1.6em;
	position: relative;
	top: 1em;
	border-bottom: 1px solid #CCC;
	padding: 10px 0;
	width: 100%;
}

.flex-item{
	flex-grow: 1
}

.form-section input, .form-section textarea, .form-section select{
	font-size: 16px;
	color: #787878;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #D1D1D1;
	padding: 5px 10px;
}

.form-section input:not([type="number"]), .form-section textarea, .form-section select{
	display: block;
	flex-grow: 1;
}

.form-row input:not([type="number"]), .form-row textarea, .form-row select{
	display: initial;
	width: initial;
	margin: 0;
	flex-grow: 1
}

input[type="radio"]{
	flex-grow: 0 !important
}

.form-section-inline{
	padding: 0;
	margin: 0;
	border: none;
	display: flex;
}

label, .info{
	color: #787878;
}

.info{
	font-style: italic;
}

.form-row-label{
	text-transform: uppercase;
	color: #A1B2CD;
	font-size: 1em;
	width: 200px;
	border: none;
	padding: 0;
	order: -1;
	display: inline-block;
}

.form-row-group{
	width: calc(80% - 200px);
	display: flex;
}

.form-section-inline .field-set-inline{
	display: flex;
}

.form-section-inline .field-set-inline.has-legend{
	margin-left: 200px;
}

input[type="submit"]{
	margin: auto;
	padding: 10px 15px;
	background-color: #DF7F1B;
	color: #FFF;
	display: block;
	margin-top: 5px;
	text-transform: uppercase;
}

input[type="radio"]{
	margin-right: 5px !important;
}

input:required + label.row-label::after, select:required + label.row-label::after, input:required + legend::after, select:required + legend::after{
	content: ' *';
	color: #FCB0AF
}

input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus{
	outline: 1px solid #FCB0AF;
}

input:active + label.row-label, input:focus + label.row-label, textarea:active + label.row-label, textarea:focus + label.row-label, select:active + label.row-label, select:focus + label.row-label, .field-set-inline:focus-within ~ legend, .field-set-inline:focus-within label.row-label{
	color: #FCB0AF
}