::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E3E3E3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #E3E3E3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #E3E3E3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #E3E3E3;
}

.form-section{
	border: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.3);
	box-shadow: 0px 0px 5px 0px rgba(150,150,150,0.3);
	border-radius: 3px;
	background-color: #FFF;
	padding: 3em 50px;
	box-sizing: border-box;
	min-width: 0;
	margin-bottom: 25px;
	margin-top: -2.5em;
}

.form-section legend{
	color: #325387;
	font-size: 1.5em;
	position: relative;
	top: 1em;
	border-bottom: 2px solid #f1f1f2;
	padding: 1.5em 0 .8em;
	width: 100%;
}

.form-row{
	margin-bottom: 1em
}

em{
	color: #FCB0AF;
}

.flex-item{
	flex-grow: 1
}

.form-section input, .form-section textarea, .form-section select{
	font-size: 1em;
	color: #787878;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #f1f1f2;
	padding: 10px;
	background: #FFF
}

.form-section select{
	height: 40px;
}

.form-section select, .form-section input[type="radio"], .form-section input[type="radio"] ~ label{
	cursor: pointer;
}

.form-section input:not([type="number"]), .form-section textarea, .form-section select{
	display: block;
	flex-grow: 1;
}

.form-row input:not([type="number"]), .form-row textarea, .form-row select{
	display: initial;
	width: initial;
	margin: 0;
	flex-grow: 1
}

select{
	max-width: 100%
}

input[type="radio"]{
	flex-grow: 0 !important
}

.form-section-inline{
	padding: 0;
	margin: 0;
	border: none;
	display: flex;
}

input ~ label{
	vertical-align: middle;
}

label, .info{
	color: #787878;
}

.info{
	font-style: italic;
}

.form-row-label{
	text-transform: uppercase;
	color: #A1B2CD;
	font-size: 1em;
	width: 150px;
	border: none;
	padding: 10px 0;
	order: -1;
	display: inline-block;
}

.form-row-group{
	width: calc(100% - 150px);
	display: flex;
}

.form-section-inline .field-set-inline{
	display: flex;
}

.form-section-inline .field-set-inline.has-legend{
	margin-left: 200px;
}

input[type="number"]{
	width: 80px
}

.row:focus-within .form-row-label{
	color: #FCB0AF !important;
}

input[type="radio"]{
	margin-right: 5px !important;
}

input:required + label.row-label::after, select:required + label.row-label::after, input:required + legend::after, select:required + legend::after{
	content: ' *';
	color: #FCB0AF
}

input:not([type="radio"]):active, input:not([type="radio"]):focus, textarea:active, textarea:focus, select:active, select:focus{
	outline: 1px solid #FCB0AF;
}

input:active + label.row-label, 
input:focus + label.row-label, 
textarea:active + label.row-label, 
textarea:focus + label.row-label, 
select:active + label.row-label, 
select:focus + label.row-label, 
.field-set-inline:focus-within ~ legend, 
.field-set-inline:focus-within label.row-label{
	color: #FCB0AF
}

#submit{
	margin: 0 auto 20px;
	padding: 10px 20px;
	background-color: #FB8E1D;
	color: #FFF;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 3px;
	cursor: pointer;
}

@media(max-width: 768px){
	.form-row-group{
		width: 100%
	}
}