.flex-item-wraper{
	flex-grow: 1;
	display: flex;
	width: 100%;
}

.item-wrapper-80{
	min-width: calc(100% - 200px);
	max-width: calc(100% - 200px);
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.unset-inner-rows .item-wrapper-80{
	min-width: unset;
	max-width: unset;
	display: block;
	flex-shrink: 1
}

.item-wrapper-80 input, .item-wrapper-80 textarea, .item-wrapper-80 select{
	margin: 0 5px !important;
}

.item-wrapper-80:first-child{
	margin-left: 0 !important
}

.item-wrapper-80:last-child{
	margin-right: 0 !important
}

@media(max-width: 768px){
	.item-wrapper-80{
		min-width: 100%;
		max-width: 100%;
		margin: 0 !important;
		justify-content: center;
	}

	.item-wrapper-80 input:not([type="radio"]), .item-wrapper-80 textarea, .item-wrapper-80 select{
		margin: 15px 5px !important;
		width: 100%
	}
}