.rating-icons button:focus{
	outline: none
}

.rating-icons{
	white-space: nowrap;
}

.rating-icons button, .rating-icons i{
	cursor: pointer;
	margin: 0 3px;
	background: transparent;
	border: none;
}

.rating-icons button[disabled], .rating-icons button:disabled, .rating-icons button[disabled] i, .rating-icons button:disabled i{
	cursor: not-allowed;
}