$background-color: #F7F7F7;
$accent-color: #FCB0AF;
$light-gray: #E4E3E3;
$dark-gray: #787878;
$light-blue: #A1B2CD;
$blue: #355990;
$dark-blue: #1E3B68;
$orange: #FB8E1D;

%accent-color{
	color: $accent-color
}